@import 'tailwindcss';

@layer base {
  .container-wrapper {
    @apply px-2 md:px-4 lg:px-8 max-w-full lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-[1440px] m-auto;
  }
}

@theme {
  --color-background: hsl(0, 0%, 100%);

  --color-link-hover: hsl(341, 65%, 35%);

  --color-accent: hsl(240, 4.8%, 95.9%);
  --color-accent-foreground: hsl(240, 5.9%, 10%);

  --color-primary: hsl(177, 30%, 50%);
  --color-primary-foreground: hsl(0, 0%, 98%);

  --color-card: hsl(0, 0%, 100%);
  --color-card-foreground: hsl(240, 10%, 3.9%);

  --color-danger: hsl(0, 84.2%, 60.2%);
  --color-danger-foreground: hsl(0, 0%, 98%);
}
